<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit-no">
    {{ $css := "css/bootstrap.min.css" | absURL }}
    <link rel="stylesheet" href="{{ $css }}">
    <title></title>
  </head>
  <body>

<div class="homeBlock">
  <h1>Trauma Book Club</h1>
  <hr>
  <a style=" color: blue;" href="#">r/CPTSD_Bookclub</a><br>
  <a href="#">Patreon</a><br>
  <a href="#">Get Book</a><br>
</div>


  </body>
</html>
