/* PARTIAL CSS */
#partialHeaderContainer {
  top: 0; right: 0; left: 0;
  padding-top: 5%;
  padding-bottom: 2%;
  
  background-color: purple;
  margin: 0;
}
#partialFooterContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;

  /* flex-shrink: 0; */
  /* left: 0; bottom: 0; */
  width: 100%;
  height: 30px;

  padding: 0;
  padding-top: 10px;

}
/* #partialFooterContainer h6 {
  margin: 0;
  padding: 0;
} */
