<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ $css := "css/maincss.css" | absURL }}
    <link rel="stylesheet" href="{{ $css }}">

  </head>

  <body role="document">
    <div id="partialHeaderContainer" role="heading">
      <!-- Regular nav  -->
      <nav role="navigation">
        <ul id="homePageMenuNav">
          <li class="siteHeaderLogo"><a href="/">Trauma Book Club</a></li>
          <li class="dropdown-menu menuNavLink"><a class="dropdownBtn" href="#">Chapters</a>
            <ul class="dropdown-content">
              <li class="dropdown-item"><a href="/chapters/chapter1">Chapter 1</a></li>
            </ul>
          </li>
          <li class="menuNavLink"><a href="/main/sessions">Session Protocol</a></li>
          <li class="menuNavLink"><a href="/main/security">Security</a></li>
          <li class="menuNavLink"><a href="/main/faq">FAQ</a></li>
        </ul>
      </nav>

      <!-- Hidden nav drawer for smaller screens -->
      <nav role="navigation">
        <div id="homePageSideNav" class="sideNav">
            <ul>
              <li><a role="link" href="javascript:void(0)" class="closebtn" onclick="closeNav()" aria-label="Close menu" aria-hidden="true">&times;</a></li>
              <li><a href="#" onclick="openSubNav()">Chapters</a></li>
              <li><a href="/main/sessions">Session Protocol</a></li>
              <li><a href="/main/security">Security</a></li>
              <li><a href="/main/faq">FAQ</a></li>
            </ul>
            <div id="homePageSideNavSubMenu" class="subMenu">
              <ul>
                <li><a role="link" href="javascript:void(0)" class="closebtn" onclick="closeSubNav()" aria-label="Back to menu" aria-hidden="true">&#8617;</a></li>
                <li><a href="/chapters/chapter1">Chapter 1</a></li>
              </ul>
            </div>
        </div>
        <div id="homePageSideNavBtnContainer">
          <span id="homePageSideNavBtn" aria-label="Open the menu" aria-hidden="true" onclick="openNav()">&#9776;</span>
          <span id="homePageSideNavSiteLogo" class="siteHeaderLogo"><a role="link" href="/">Trauma Book Club</a></span>
        </div>
      </nav>
    </div>
  </body>
</html>
