<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ $css := "css/maincss.css" | absURL }}
    <link rel="stylesheet" href="{{ $css }}">

  </head>

  <body>
    <div id="partialHeaderContainer">
      <!-- Regular nav  -->
      <ul id="homePageMenuNav" role="list">
        <li class="siteHeaderLogo" role="listitem"><a role="link" href="#">Trauma Book Club</a></li>
        <li class="menuNavLink" role="listitem"><a role="link" href="/main/sessions">Sessions</a></li>
        <li class="menuNavLink" role="listitem"><a role="link" href="/main/security">Security</a></li>
        <li class="menuNavLink" role="listitem"><a role="link" href="/main/about">About</a></li>
        <li class="last-nav-link" role="listitem"><a role="link" href="/main/faq">FAQ</a></li>
      </ul>

      <!-- Hidden nav drawer for smaller screens -->
      <div role="navigation">
        <div id="homePageSideNav" class="sideNav">
          <a role="link" href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size:35px;cursor:pointer">&times;</a>
          <a role="link" href="#">Sessions</a>
          <a role="link" href="#">Security</a>
          <a role="link" href="#">About</a>
          <a role="link" href="#">FAQ</a>
        </div>
        <div id="homePageSideNavBtnContainer">
          <span id="homePageSideNavBtn" aria-label="Open the menu" aria-hidden="true" onclick="openNav()">&#9776;</span>
          <span id="homePageSideNavSiteLogo" class="siteHeaderLogo"><a role="link" href="#">Trauma Book Club</a></span>
        </div>
      </div>


    </div>
  </body>
</html>
