<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ $css := "css/maincss.css" | absURL }}
    <link rel="stylesheet" href="{{ $css }}">

  </head>

  <body role="document">
    <div id="partialHeaderContainer" role="heading">
      <!-- Regular nav  -->
      <ul id="homePageMenuNav">
        <li class="siteHeaderLogo"><a href="/">Trauma Book Club</a></li>
        <li class="menuNavLink dropdown-menu"><a class="dropdownBtn" href="#">Chapters</a>
          <ul class="dropdown-content">
            <li><a class="dropdown-item" href="#">Chapter 1</a></li>
          </ul>
        </li>
        <li class="menuNavLink"><a href="/main/sessions">Sessions</a></li>
        <li class="menuNavLink"><a href="/main/security">Security</a></li>
        <li class="menuNavLink"><a href="/main/faq">FAQ</a></li>
      </ul>

      <!-- Hidden nav drawer for smaller screens -->
      <div role="navigation">
        <div id="homePageSideNav" class="sideNav">
          <a role="link" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a role="link" href="/main/sessions">Sessions</a>
          <a role="link" href="/main/security">Security</a>
          <a role="link" href="/main/faq">FAQ</a>
        </div>
        <div id="homePageSideNavBtnContainer">
          <span id="homePageSideNavBtn" aria-label="Open the menu" aria-hidden="true" onclick="openNav()">&#9776;</span>
          <span id="homePageSideNavSiteLogo" class="siteHeaderLogo"><a role="link" href="/">Trauma Book Club</a></span>
        </div>
      </div>
    </div>
  </body>
</html>
