<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ $css := "css/bootstrap.min.css" | absURL }}
    <link rel="stylesheet" href="{{ $css }}">
  </head>

  <body>
    <ul id="homePageMenuNav" role="navigation">
      <li class="siteHeaderLogo"><a href="#">Trauma Book Club</a></li>
      <li class="menuNavLink"><a href="main/faq">FAQ</a></li>
      <li class="last-nav-link"><a href="main/about">About Us</a></li>
    </ul>

    <!-- Hidden nav drawer for smaller screens -->
    <div id="homePageSideNav" class="sideNav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size:35px;cursor:pointer">&times;</a>
      <a href="main/faq">FAQ</a>
      <a href="main/about">About Us</a>
    </div>
    <div id="homePageSideNavBtnContainer">
      <span id="homePageSideNavBtn" style="font-size:35px;cursor:pointer" onclick="openNav()">&#9776;</span>
      <span id="homePageSideNavSiteLogo" class="siteHeaderLogo"><a href="#">Trauma Book Club</a></span>
    </div>
  </body>
</html>
