<!DOCTYPE html>
<html lang="en" dir="ltr">
{{ partial "head/head.html" . }}

  {{ partial "header/header.html" . }}
  <div id="homePageContainer" class="flex-container-centered">
    <main id="homePageContentContainer" role="main">
      <!-- Main content for Homepage -->
      <div id="homeContent" class="flex-container-centered flex-column content">
        <div id="homeMissionStatement" role="complementary">
          The TraumaBookClub is an online mental health support network for trauma survivors. We are secondarily a platform for advocacy about trauma and it’s often-unrecognized impact on our loved ones. The project is designed and maintained by a small team of volunteers, who are all survivors of Complex Post Traumatic Stress Disorder.
        </div>
        <div id="homeBtnContainer" class="flex-container-centered content">
          <a class="homeBtn btn-design flex-container-centered" role="button" href="https://www.reddit.com/r/TraumaBookClub/" target="_blank">Reddit</a>
          <a class="homeBtn btn-design flex-container-centered" role="button" id="donateBtn" href="#">Donate</a>
          <a class="homeBtn btn-design flex-container-centered" role="button" href="https://docs.google.com/forms/d/e/1FAIpQLSdsAixFJn9p6v82Ed2Z9BEw-ERnZuTW6LN6wQRucPrSKDdUQA/viewform" target="_blank">Get a Book</a>
        </div>
      </div>
    </main>
    <!-- Modal for Donate Button -->
     <div id="donateModal" class="modal">
      <div class="modal-content" >
        <div class="modal-header">
          <span class="close" id="modalCloseBtn">&times;</span><br>
        </div>
        <div id="donateOptions">
          <a class="btn-design" href="https://www.paypal.com/paypalme/cptsdbookclub" target="_blank">Paypal</a>
          <a class="btn-design" href="https://www.patreon.com/cptsdbookclub" target="_blank">Patreon</a>
        </div>
      </div>
    </div>
  </div>
  {{ partial "footer/footer.html" . }}
</body>
</html>
